<!DOCTYPE html>
<html>
<head>
  <title>Inicio</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Bienvenido al Microservicio</h1>
  <p><a href="/clientes" class="button">Ver Clientes</a></p>
  <p><a href="/productos" class="button">Ver Productos</a></p>
</body>
</html>
