<!DOCTYPE html>
<html>
<head>
  <title>Productos</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Lista de Productos</h1>
  <ul>
    <% productos.forEach(producto => { %>
      <li><strong><%= producto.nombre %></strong> - $<%= producto.precio %></li>
    <% }); %>
  </ul>
  <a href="/" class="button">Volver al Inicio</a>
</body>
</html>
